<div class="container-fluid" *ngIf="entry.id">
  <div>
    <label><strong>Description: </strong></label> {{entry.description.text}}
  </div>
  <!-- <div>
    <label><strong>Formatted Description:</strong> </label><span [innerHTML]="entry.description.html"></span>
  </div> -->
  <div>
    <label><strong>Tagged Users: </strong></label>
    <div *ngFor="let user of entry.description.mentionedUsers">
      {{user.full_name}}
    </div>
  </div>
  <div>
    <label><strong>Tags: </strong></label>
    <button disabled style="margin: 0px 5px;" class="btn btn-success" *ngFor="let tag of entry.description.tags">
      {{tag}}
    </button>
  </div>
  <div>
    <label><strong>Approval Status: </strong></label> {{entry.status}}
  </div>
  <div>
    <label><strong>Entry type version: </strong></label> {{entry.version}}
  </div>
  <div>
    <label><strong>Sharing Level: </strong></label> {{entry.sharing_level}}
  </div>
  <!-- <div>
    <label><strong>Owner: <strong></label> {{entry.owner_user.name}}
  </div> -->
  <div>
    <div *ngFor="let field of objectKeys(entry.content)">
      <strong>{{field}}</strong> : {{entry.content[field]}}
    </div>
  </div>
</div>
<div *ngIf="!entry.id">
  <p>No record found</p>
</div>
