<!-- <div class="grid grid-pad">
  <a *ngFor="let key of objectKeys(counts)" class="col-1-4" (click)="navigateToFeedbackList(key)">
    <div class="module hero">
      <h4>{{key}}</h4>
      <p>{{counts[key]}}</p>
    </div>
  </a>
</div> -->
<div class="content">
  <div class="container-fluid">
    <div class="row my-4">
      <a routerLink="/add-entry/feedback">Add New</a>
    </div>
    <div class="row my-4">
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!---->
          <!---->
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <div class="icon-warning"><i class="material-icons text-info">
                      equalizer
                    </i></div>
                </div>
              </div>
              <div class="col-7" (click)="navigateToFeedbackList('Self')">
                <div class="numbers">
                  <p class="card-category">Feedback Self</p>
                  <h4 class="card-title">{{counts['Self'] || 0}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="fa fa-refresh"></i>Updated now
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="card card-stats">
          <!---->
          <!---->
          <div class="card-body">
            <div class="row">
              <div class="col-5">
                <div class="icon-big text-center">
                  <div class="icon-success"><i class="material-icons text-warning">
                      donut_small
                    </i></div>
                </div>
              </div>
              <div class="col-7" (click)="navigateToFeedbackList('Others')">
                <div class="numbers">
                  <p class="card-category">Feedback Others</p>
                  <h4 class="card-title">{{counts['Others'] || 0}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats"><i class="fa fa-calendar-o"></i>Last day
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
