<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li id="dashboard" class="nav-item active" (click)="makeActive('dashboard')">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li id="add_entry" class="nav-item" (click)="makeActive('add_entry')">
        <a class="nav-link" routerLink="/add-entry">Add Entry</a>
      </li>
      <li id="worklogs" class="nav-item" (click)="makeActive('worklogs')">
        <a class="nav-link" routerLink="/dashboard">Worklogs</a>
      </li>
      <li id="feedbacks" class="nav-item" (click)="makeActive('feedbacks')">
        <a class="nav-link" routerLink="/dashboard">Feedbacks</a>
      </li>
    </ul>
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
  </div>
</nav> -->
<div class="wrapper">
  <div id="sidebardiv" class="sidebar">
    <div class="sidebar-wrapper">
      <div class="logo">
        <h2>Journal</h2>
      </div>
      <ul class="nav-menu">
        <li (click)="changeRoute('worklogs')"><a href="#" routerLink="/dashboard" [class.active]="current_location === 'worklogs'">
            <i><img src="../assets/images/icons/home-icon.png" alt=""></i>
            <p>Work Log </p>
          </a></li>
        <li (click)="changeRoute('feedbacks')"><a href="#" routerLink="/dashboard" [class.active]="current_location === 'feedbacks'">
            <i><img src="../assets/images/icons/chart-icon.png" alt=""></i>
            <p>Feedback</p>
          </a></li>
        <li (click)="changeRoute('add_entry')"><a href="#" routerLink="/add-entry" [class.active]="current_location === 'add_entry'">
            <i><img src="../assets/images/icons/idcard-icon.png" alt=""></i>
            <p>Add Entry </p>
          </a></li>
        <li (click)="changeRoute('future_task')"><a href="#" routerLink="/dashboard" [class.active]="current_location === 'future_task'">
            <i><img src="../assets/images/icons/copy-icon.png" alt=""></i>
            <p>Future Task </p>
          </a></li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg ">
      <div class="container-fluid">
        <div class="navbar-minimize">
          <button class="btn btn-outline btn-fill btn-round btn-icon d-none d-lg-block"><i class="fa fa-navicon"></i></button></div>
        <a class="navbar-brand">Overview</a> <button type="button" aria-expanded="false" class="navbar-toggler navbar-toggler-right"><span
            class="navbar-toggler-bar burger-lines"></span>
          <span class="navbar-toggler-bar burger-lines"></span> <span class="navbar-toggler-bar burger-lines"></span></button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="nav navbar-nav mr-auto">
            <form role="search" class="navbar-form navbar-left navbar-search-form">
              <div class="input-group"><label for="searchInput"></label> <i class="material-icons">
                  search
                </i><input id="searchInput" type="text" value="" placeholder="Search..." class="form-control"></div>
            </form>
          </ul>
          <ul class="navbar-nav">
            <li aria-haspopup="true" class="dropdown nav-item"><a data-toggle="dropdown" class="dropdown-toggle nav-link"><i
                  class="material-icons">
                  public
                </i></a>
              <ul class="dropdown-menu"> <a href="#" class="dropdown-item">Create
                  New Post</a> <a href="#" class="dropdown-item">Manage Something</a> <a href="#" class="dropdown-item">Do
                  Nothing</a> <a href="#" class="dropdown-item">Submit to live</a>
                <li class="divider"></li> <a href="#" class="dropdown-item">Another
                  action</a>
              </ul>
            </li>
            <li aria-haspopup="true" class="dropdown nav-item"><a data-toggle="dropdown" class="dropdown-toggle nav-link"><i
                  class="material-icons">
                  message
                </i> <span class="notification">5</span> <span class="d-lg-none">Notification</span></a>
              <ul class="dropdown-menu"> <a href="#" class="dropdown-item">Notification
                  1</a> <a href="#" class="dropdown-item">Notification 2</a> <a href="#" class="dropdown-item">Notification
                  3</a> <a href="#" class="dropdown-item">Notification
                  4</a> <a href="#" class="dropdown-item">Another notification</a></ul>
            </li>
            <li aria-haspopup="true" class="dropdown nav-item"><a data-toggle="dropdown" class="dropdown-toggle nav-link"><i
                  class="material-icons">
                  view_list
                </i></a>
              <ul class="dropdown-menu dropdown-menu-right"> <a href="#" class="dropdown-item"><i class="nc-icon nc-email-85"></i>
                  Messages
                </a> <a href="#" class="dropdown-item"><i class="nc-icon nc-umbrella-13"></i>
                  Help Center
                </a> <a href="#" class="dropdown-item"><i class="nc-icon nc-settings-90"></i>
                  Settings
                </a>
                <div class="divider"></div> 
                <a href="#" class="dropdown-item"><i class="nc-icon nc-lock-circle-open"></i>
                  Lock Screen
                </a> 
                <a (click)="logout()" class="dropdown-item text-danger"><i class="nc-icon nc-button-power"></i>
                  Log out
                </a>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  <!-- </div>
</div> -->

