<div class="container-fluid">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2">Select Entry Type:</label>
      <div class="col-sm-10">
        <ng-select [items]="entryTypes"
          bindLabel="name"
          (change)="getEntries()"
          bindValue="id"
          placeholder="Select entry type"
          [(ngModel)]="entryTypeId"
          name="entry_type"
          #entry_type="ngModel">
        </ng-select>
      </div>
    </div>
  </form>
  <div *ngIf="entries.length > 0 && entryTypeId">
    <div class="card col-4" *ngFor="let entry of entries">
      <div class="card-body">
        <p class="card-text">{{entry.description.text}}</p>
        <p class="card-text">{{entry.created_at | date:'MMM dd yyyy'}}</p>
        <a routerLink="/user/entries/{{entry.id}}" class="btn btn-primary">View Entry</a>
      </div>
    </div>
  </div>
  <div *ngIf="entries.length == 0 && entryTypeId">
    <h4>No entries found</h4>
  </div>
</div>
